{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}

    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter ">

            <div class="col0md-5">
                <h2 style="border-radius: 14px; box-shadow: 3px 5px 15px rgba(0, 252, 0, 0.67);">
                    You have successfully Registered your account!
                </h2>

                <p>
                    Procceed to 
                    <a href="{% url 'login' %}">Login</a>
                   
                </p>
            </div>
        </div>
      </div>
   
<style>


button:hover span{
  width: 100%;

}


 </style>
{% endblock content %}
    