{% extends 'base.html' %}
{% load bootstrap4 %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}

    
            {% for error in form.errors %}
                <small style="color: red;"> {{error}} incorect! </small>
            {% endfor %}
                
            {% endif %}
            <h3 class="text-center">Register</h3>
            <form action=" {% url 'django_registration_register' %} " method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
        
                <input type="submit" class="btn btn-outline-success" value="Register">
            </form>

            <small class="text-muted">
                Have an account? <a href="{% url 'login' %}">Login</a>
            </small>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}
    