{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Businesses</h2>

            
            {% if business %}
            
            {% for biz in business %}
            <div class="box">
                <h2><i><a href="{% url 'single_business' biz.id%}">{{biz.business_name}}</a></i></h2> 
                <p>By {{biz.owner.username}} </p>
                <p>{{biz.neighborhood.name}} Neighborhood </p>
                <br>
            </div>
            {% endfor %} 
        
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>Neighbors</h2>
            <div class="box">
                
                {% if neighborhoods %}
                {% for hood in neighborhoods %}
                <h2><a href="{% url 'single_neighbor' hood.resider.id %}">{{hood.resider.profile_name}} </a></h2>
                <p>Email : <a href="{{hood.resider.email}}">{{hood.resider.email}}</a>  </p>
                <p>Neighborhood : {{hood.name}} </p> <br> <hr>
               
                {% endfor %} 
                {% endif %}
            </div>
           
        </div>
        <div class="col-md-4">
            <h2>Neighborhoods</h2>
            {% for neb in neighborhoods %}
            <div class="box">
                <h2><a href="{% url 'single_hood' neb.id %}">{{neb.name}}</a> </h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}

