{% extends 'base.html' %}

{% load bootstrap4 %}
{% block content %}
  <h2>Police Centers</h2>
  <a class="btn" href="{% url 'create_police' %}">Update Police Center</a>
<br><br>
  <div class="container">
     <div class="row">
      {% if police %}

          {% for heal in police %}
       <div class="col-md-3">
        <img src=" {{heal.image.url}} " alt="">
        <br><br>
       </div>
       <div class="col-md-3">
        <h4>{{heal.name}} </h4>
        <p><a href=" {{heal.email}}"> {{heal.email}}</a> </p>
        <h6>{{heal.neighborhood}} </h6>
        <p>No :  {{heal.phone_number}} </p>
       </div>
       <div class="col-md-6">
        <p> {{heal.about}} </p>
       </div>

       {% endfor %}
       {% else %}
      <p style="color: red;">Sorry no Police Centers in your neighborhood yet!!</p>           
       {% endif %}

     </div>
  </div>

  <style>
    .btn {
       text-decoration: none;
       text-transform: uppercase;
       font-weight: 700;
       color: #fff;
       border-radius: 14px;
       background: #2c2566;
    }
    .btn:hover{
     background-color: aliceblue;
       border-radius: 14px;
       color: #2c2566;
    }
    .btn:hover{
       text-decoration: none;
       text-transform: uppercase;
       font-weight: 700;
       color: #2c2566;
    }
    .h2{
       color: #2c2566;
       text-align: center;
       font-size: 1.8rem;
       font-weight: 800;
    }
    h2{
      text-align: center;
    }
    img{
      box-shadow: 3px 7px 15px rgba(1, 22, 41, 0.816);
      width: 50vmin; height: 30vmin;
      
    }
  </style>
{% endblock content %}
